<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<!-- <fuse-vertical-navigation [ngClass]="userRoles.includes('Publisher') ? 'hidden' : ''"
    class="dark bg-gray-900 print:hidden" [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'"
    [navigation]="navigation.default" [opened]="!isScreenSmall" [appearance]="leftMenu.type">
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center h-20 p-6">
            <img src="../../../../../assets/images/logo/{{leftMenu.type === 'default' ? 'logo.svg' : 'logo_mini.svg'}}"
                alt="logo" style="height: 52px;">
        </div>
    </ng-container>
</fuse-vertical-navigation> -->

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-999 shadow print:hidden bg-gray-800 dark:bg-gray-900">
        <!-- Navigation toggle button -->
        <button class="menu-button-navigation hidden"
            mat-icon-button
            (click)="toggleNavigation('mainNavigation', leftMenu.type === 'default' ? 'thin' : 'default')">
            <mat-icon [svgIcon]="leftMenu.icon"></mat-icon>
        </button>

        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <!-- <languages></languages> -->
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <!-- <search [appearance]="'bar'"></search> -->
            <!-- <shortcuts></shortcuts> -->
            <!-- <messages></messages> -->
            <!-- <notifications></notifications> -->
            <user></user>
        </div>
    </div>

    <div class="flex justify-center px-4 md:px-8 bg-card dark:bg-gray-700 ng-star-inserted">
        <!-- Navigation toggle button -->
        <div class="relative flex items-center w-full max-w-360 h-16">
            <div class="fuse-horizontal-navigation-wrapper ng-tns-c52-31">
                <fuse-horizontal-navigation [name]="'mainNavigation'"
                [navigation]="navigation.default" class="-mx-4 ng-tns-c52-31 ng-star-inserted"></fuse-horizontal-navigation>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <span class="font-medium text-secondary">Mass Recruitment &copy; {{currentYear}}</span>
    </div>

</div>