<div class="w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-2 px-2 md:py-4">
        <div class="flex items-center justify-between w-full mb-4 bg-card shadow rounded-2xl p-4">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">
                    Doctor Management
                </h2>
                <!-- <div class="font-medium tracking-tight text-secondary">
                    Keep track of your financial status
                </div> -->
            </div>
            <div class="flex items-center ml-6">
                <div class="flex">
                    <mat-form-field class="flex-auto search-input">
                        <input matInput placeholder="Search" (keyup.enter)="filter()" [(ngModel)]="filterValue">
                        <mat-icon class="icon-size-5 cursor-pointer" matSuffix (click)="filter()"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    </mat-form-field>
                </div>
                <button class="hidden sm:inline-flex ml-3" mat-flat-button (click)="openDialog()" [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-add'"></mat-icon>
                    <span class="ml-2">New Doctor</span>
                </button>


            </div>
        </div>

        <div class="flex w-full">
            <div class="left-menu">
                <left-menu (filterValue)="filterListData($event)"></left-menu>
            </div>

            <div class="right-content">
                <div
                    class="xl:col-span-2 flex flex-col bg-card shadow rounded-2xl p-4 flex-auto overflow-hidden my-2 full-height">
                    <div class="overflow-x-auto">
                        <app-table [dataSource]="dataSource" [columns]="columns" (page)="handlePageChange($event)">
                        </app-table>
                    </div>
                </div>

                <div>
                    <!-- <grid-view></grid-view> -->
                </div>
            </div>
        </div>

        <ng-template #actionTemplate let-row="row" let-value="value">
            <div class="flex items-center">
                <!-- <mat-icon (click)="openDialog(row)" [svgIcon]="'heroicons_solid:pencil-alt'"
                    class="icon-size-6 cursor-pointer" matTooltip="Edit" color="primary"></mat-icon> -->
                <mat-icon [ngClass]="{'color-warn': !row.isActive, 'color-success': row.isActive}"
                    [matTooltip]="row.isActive ? 'Deactivate' : 'Activate'"
                    [svgIcon]="row.isActive ? 'mat_solid:toggle_on' : 'mat_solid:toggle_off'"
                    class="icon-size-10 cursor-pointer ml-2" (click)="handleToggle(row)"></mat-icon>
                <mat-icon (click)="handleDelete(row)" [svgIcon]="'heroicons_solid:trash'" matTooltip="Delete"
                    class="icon-size-6 ml-2 cursor-pointer" color="warn"></mat-icon>
            </div>
        </ng-template>
    </div>
</div>