<div class="grid gap-3" [ngClass]="viewType === 'table' ? 'grid-cols-4' : 'grid-cols-5'">
    <div class="flex flex-col bg-card shadow rounded-2xl p-4 flex-auto overflow-hidden my-2 full-height grid-item"
        *ngFor="let item of listGridItem.items">
        <div class="grid-content" (click)="viewDetail(item)">
            <div class="grid-content_img">
                <img src="../../../../assets/images/cards/01-320x200.jpg" />
            </div>

            <div class="grid-content_title">
                <h3>{{item.name}}</h3>

                <p class="rating-star">
                    <mat-icon *ngFor="let star of starList; let i = index"
                        [ngClass]="{'grid-star-active' : filterItem.rate !== null && filterItem.rate >= star}">star</mat-icon>
                </p>
            </div>

            <div class="grid-border-line"></div>

            <div class="grid-description">
                <h3>Address:</h3>
                <p>{{item.address}}</p>
            </div>
        </div>
    </div>
</div>