.grid-content_title {
    h3 {
        margin: 10px 0;
        font-size: 16px;
    }
}

.grid-description {
    h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.grid-border-line {
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}

.grid-star-active {
    color: #f39c12;
}