<div class="relative flex flex-col w-full h-full">
    <div class="text-xl leading-6 font-medium mb-4 text-center p-4">
        {{ mode }} Symptoms
    </div>
    <div class="absolute top-0 right-0 p-4">
        <mat-icon matDialogClose class="text-secondary cursor-pointer" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </div>

    <div class="form-action">
        <form [formGroup]="symptomsForm">
            <div class="grid grid-cols-2 gap-6 scroll-bar-form">
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
                    <mat-label>Name</mat-label>
                    <input matInput [formControlName]="'name'" />
                    <mat-error *ngIf="symptomsForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
                    <mat-label>Description</mat-label>
                    <input matInput [formControlName]="'description'" />
                    <mat-error *ngIf="symptomsForm.get('description').hasError('required')">
                        Description is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
                    <mat-label>Type</mat-label>
                    <input matInput [formControlName]="'type'" />
                    <mat-error *ngIf="symptomsForm.get('type').hasError('required')">
                        Type is required
                    </mat-error>
                </mat-form-field>

                <app-image-cropper class="col-span-2" [recordId]="this.symptomsForm.value.id" [type]="mode"
                    [fileName]="symptomsForm.get('name').value" [events]="eventsSubject.asObservable()">
                </app-image-cropper>
            </div>

            <div class="flex justify-center sm:justify-end py-4 space-x-3 dark:bg-black dark:bg-opacity-10 p-4">
                <button mat-stroked-button matDialogClose="true">Cancel</button>
                <button mat-flat-button color="primary" (click)="handleCreateUpdate()">
                    {{ mode }}
                </button>
            </div>
        </form>
    </div>
</div>