/* 1. Components */
@import 'components/example-viewer';
@import 'components/input';

/* 2. Overrides */
@import 'overrides/angular-material';
@import 'overrides/highlightjs';
@import 'overrides/perfect-scrollbar';
@import 'overrides/quill';

datatable-body-cell {
    display: flex !important;
    align-items: center;
    padding: 0 5px;
    .mat-button-wrapper {
        min-width: 70px;
    }
}
datatable-header {
    // padding: 0 5px;
}
.datatable-header-cell {
    font-size: 13px !important;
    font-weight: bold !important;
}

.ngx-datatable.material{
    .datatable-header {
        border-bottom: none !important;
    }
}
datatable-body {
    margin-top: 15px;
}
.input-cell {
    .datatable-body-cell-label {
        width: 100%;
    }
}
.ngx-datatable.material .datatable-footer {
    overflow: hidden !important;
}
.search-input {
    min-width: 200px;
    .mat-form-field-wrapper {
        margin-bottom: 0 !important;
        .mat-form-field-flex  {
            min-height:40px !important;
            height: 40px !important;
            border-radius: 999px !important;
        }
    }
}
.ngx-datatable .datatable-body .datatable-body-row>div {
    border-top: 1px solid gainsboro;
}
.no-border {
    .ngx-datatable .datatable-body .datatable-body-row>div {
        border-top: none;
    }
}


// table 
.table-action {
    cursor: pointer;
    color: var(--fuse-primary);
}
.sort-btn {
    display: none !important;
}

// atomic
.color-warn {
    color: var(--fuse-warn)
}
.color-success {
    color: #28a745;
}