:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;

    
}

::ng-deep {
    .mat-focus-indicator.mat-menu-trigger.country-selector {
        margin: 3px;
    }

    .phone-number-account .ngx-mat-tel-input-container .mat-input-element.mat-form-field-autofill-control {
        margin-left: 70px;
    }
}
