<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div
        class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full md:w-full py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-48 app-logo">
                <img src="assets/images/logo/logo.png" />
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">
                Sign in
            </div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Don't have an account</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-up']">Sign up
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <!-- Sign in form -->
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <!-- Email field -->
                <!-- <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field> -->

                <!-- User name field -->
                <mat-form-field class="w-full">
                    <mat-label>User name</mat-label>
                    <input id="userName" matInput [formControlName]="'userName'" />
                    <mat-error *ngIf="signInForm.get('userName').hasError('required')">
                        User name is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('userName').hasError('userName')">
                        Please enter a valid user name
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField autocomplete="on" />
                    <button mat-icon-button type="button" (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        " matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error> Password is required </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <!-- <mat-checkbox
                            [color]="'primary'"
                            [formControlName]="'rememberMe'">
                            Remember me
                        </mat-checkbox> -->
                    <a class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                    [disabled]="signInForm.disabled" (click)="signIn()">
                    <span *ngIf="!signInForm.disabled"> Sign in </span>
                    <mat-progress-spinner *ngIf="signInForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Or continue with</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Single sign-on buttons -->
                <!-- <div class="flex items-center justify-center mt-8 space-x-4">
                    <asl-google-signin-button id="googleLogin"></asl-google-signin-button>

                    <div class="facebook-login">
                        <p class="facebook-login_button" (click)="loginWithFacebook()">
                            <mat-icon class="icon-size-5" [svgIcon]="'feather:facebook'"></mat-icon>
                        </p>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>