<div class="relative flex flex-col w-full h-full">
    <div class="text-xl leading-6 font-medium mb-4 text-center">
        {{ mode }} Pharmacy
    </div>
    <div class="absolute top-0 right-0">
        <mat-icon matDialogClose class="text-secondary cursor-pointer" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </div>

    <form [formGroup]="form" class="grid grid-cols-2 gap-6">
        <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Name</mat-label>
            <input matInput [formControlName]="'name'" />
            <mat-error *ngIf="form.get('name').hasError('required')">
                Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Type</mat-label>
            <input matInput [formControlName]="'type'" />
            <mat-error *ngIf="form.get('type').hasError('required')">
                Type is required
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Drugs</mat-label>
            <input matInput [formControlName]="'drugs'" />
            <mat-error *ngIf="form.get('drugs').hasError('required')">
                Drugs is required
            </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="fill">
            <mat-label>Drugs</mat-label>
            <mat-select [formControlName]="'drugIds'" multiple>
                <mat-option *ngFor="let drug of drugList" [value]="drug.id">{{drug.name}}</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="form.get('drugIds').hasError('required')">
                Drugs is required
            </mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Description</mat-label>
            <input matInput [formControlName]="'description'" />
            <mat-error *ngIf="form.get('description').hasError('required')">
                Description is required
            </mat-error>
        </mat-form-field> -->

        <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Address</mat-label>
            <input matInput [formControlName]="'address'" />
            <mat-error *ngIf="form.get('address').hasError('required')">
                Address is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full phone-number-profile">
            <mat-label>Phone</mat-label>
            <ngx-mat-intl-tel-input id="phone" [preferredCountries]="['vn', 'us']" [enablePlaceholder]="true"
                [enableSearch]="true" name="phone" describedBy="phoneInput" formControlName="phone">
            </ngx-mat-intl-tel-input>
            <mat-error>Phone is not correct</mat-error>
        </mat-form-field>

        <mat-form-field class="fuse-mat-no-subscript fuse-mat-textarea w-full">
            <mat-label>Column</mat-label>
            <input matInput type="text" [formControlName]="'column'" required="true"/>
            <mat-error *ngIf="form.get('column').hasError('required')">
                Column is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Doctor</mat-label>
            <mat-select [formControlName]="'doctorIds'" multiple>
                <mat-option *ngFor="let doctor of userList" [value]="doctor.id">
                    {{ doctor.userName }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Logo</mat-label>
            <mat-select [formControlName]="'logoId'">
                <mat-option *ngFor="let logo of logoList" [value]="logo.id">
                    {{ logo.imagePath }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('logoId').hasError('required')">
                Logo is required
            </mat-error>
        </mat-form-field>

        <input type="file" (change)="fileChangeEvent($event)" />

        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded($event)"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
    </form>

    <div class="flex justify-center sm:justify-end py-4 space-x-3 dark:bg-black dark:bg-opacity-10">
        <button mat-stroked-button matDialogClose="true">Cancel</button>
        <button mat-flat-button color="primary" (click)="handleCreateUpdate()">
            {{ mode }}
        </button>
    </div>
</div>